@import "base";

.table {
  tbody td {
    border: none;
  }
}

.torrent {
  &.selected {
    background-color: lighten($brand-primary, 45);
  }

  &.error {
    background-color: $brand-danger;
    color: $white;
    a {
      color: $white;
      text-decoration: underline;
    }
  }
}

.connection-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);

  .card {
    min-width: 20rem;
  }
}

input[type="text"], input[type="number"] {
  padding: 0.05rem 0.25rem;
  border-radius: 0;
  border-color: #888;
}

.navbar {
  input[type="text"] {
    margin-top: 7px;
    margin-left: 1rem;
    padding: 0 0.5rem;
  }

  .navbar-brand {
    margin-top: -11px;
  }
}

.card {
  border-radius: 0;

  .card-block {
    padding: 0.5rem;
  }
}

.progress-maxheight {
  height: 100%;

  .progress-bar {
    height: 100%;
  }
}

.nav-link {
  &.btn-primary {
    color: white !important;

    &.active {
      color: black !important;
      background: transparent !important;
      border: 1px solid $brand-primary;
    }
  }
}

.btn-very-sm {
  padding: 0 0.75rem;
  line-height: 1;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  .btn-group {
    margin-bottom: 0;
  }
}

.card {
  .card {
    border-left: none;
    border-right: none;
  }

  .form-group {
    margin-bottom: 0.25rem;
  }
}

select.form-control {
  height: 1.5rem !important;
  padding: 0;
  font-size: 0.9rem;
}

fieldset .form-check-input:only-child {
  position: absolute;
}

.form-check-inline {
  margin-bottom: 0;
}

.torrent-controls {
  display: flex;
  justify-content: stretch;
  align-items: center;
  margin-bottom: 0.5rem;

  .status {
    margin-right: 1rem;
  }

  .progress {
    flex-grow: 1;
    height: 1rem;
  }

  .btn-group {
    margin-left: 1rem;
    margin-bottom: 0;

    & > button {
      padding-top: 0;
      padding-bottom: 0;
      font-size: 0.8rem;
    }
  }

  a {
    color: #666;
  }
}

.bulk-controls {
  float: right;

  a {
    color: #666;
    font-size: 1rem;
    margin-right: 1rem;
  }

  .btn-group {
    margin-bottom: 0;
    float: right;

    & > button {
      font-size: 0.8rem;
      margin-top: 2px;
    }
  }
}

.bulk-controls, .torrent-controls {
  .dropdown-menu {
    padding: 0;
    border-radius: 0;
    margin-top: 1px;
    left: auto;
    right: 0;

    .dropdown-item {
      padding: 0 0.25rem;
    }
  }
}

.progress {
  border-radius: 0;

  .progress-bar {
    &.bg-info, &.bg-success {
      color: #222;
    }

    &.bg-default {
      background: darken($gray-lighter, 10);
      color: $black;
    }
  }
}

.files {
  .file {
    display: flex;
    padding: 0.1rem 0.25rem;

    &:nth-child(even) {
      background: #dfdfdf;
    }

    div {
      margin: 0 0.5rem;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .progress {
      min-width: 3rem;
      align-self: center;

      .progress-bar {
        height: 100%;
      }
    }

    .path {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      flex-grow: 1;
      line-height: 1.7;
    }

    select {
      min-width: 5rem;
    }
  }
}

.toggles * {
  flex-grow: 1 !important;
  margin: 0 0.25rem;
}
