@import "base";

.table {
  tbody td {
    border: none;
  }
}

.torrent {
  &.paused {
    color: $gray-dark;
    background: $gray-lighter;
  }

  &.idle {
    color: $gray-dark;
  }

  &.error {
    background-color: $brand-danger;
    color: $white;
    a {
      color: $white;
      text-decoration: underline;
    }
  }

  &.pending {
    background-image: linear-gradient(to right, darken($gray-lighter, 10), $gray-lighter);
  }

  &.seeding {
    background-image: linear-gradient(to right, lighten($brand-info, 20), $brand-info);
  }

  &.leeching {
    background-image: linear-gradient(to right, lighten($brand-success, 20), $brand-success);
  }

  &.selected {
    background-color: lighten($brand-warning, 20);
  }

  background-repeat: no-repeat;
  background-position: left bottom;
}

.navbar {
  input[type="text"] {
    margin-top: 7px;
    margin-left: 1rem;
    padding: 0 0.5rem;
  }

  .navbar-brand {
    margin-top: -11px;
  }
}

.card {
  border-radius: 0;

  .card-block {
    padding: 0.5rem;
  }
}

.progress-maxheight {
  height: 100%;

  .progress-bar {
    height: 100%;
  }
}

.nav-link {
  &.btn-primary {
    color: white !important;

    &.active {
      color: black !important;
      background: transparent !important;
      border: 1px solid $brand-primary;
    }
  }
}
