@import "base";

.table {
  tbody td {
    border: none;
  }
}

.torrent {
  &.paused {
    color: $gray-dark;
    background-color: $gray-lighter;
  }

  &.idle {
    color: $gray-dark;
  }

  &.error {
    background-color: $brand-danger;
    color: $white;
    a {
      color: $white;
      text-decoration: underline;
    }
  }

  &.paused {
    background-image: linear-gradient(to right, darken($gray-lighter, 20), darken($gray-lighter, 40));
  }

  &.pending, &.idle {
    background-image: linear-gradient(to right, lighten($brand-info, 20), $brand-info);
  }

  &.seeding {
    background-image: linear-gradient(to right, lighten($brand-primary, 20), $brand-primary);
  }

  &.leeching {
    background-image: linear-gradient(to right, lighten($brand-success, 20), $brand-success);
  }

  &.selected {
    background-color: lighten($brand-warning, 20);
  }

  background-repeat: no-repeat;
  background-position: left bottom;
}

.connection-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);

  .card {
    min-width: 20rem;
  }
}

input[type="text"], input[type="number"] {
  padding: 0.05rem 0.25rem;
  border-radius: 0;
  border-color: #888;
}

.navbar {
  input[type="text"] {
    margin-top: 7px;
    margin-left: 1rem;
    padding: 0 0.5rem;
  }

  .navbar-brand {
    margin-top: -11px;
  }
}

.card {
  border-radius: 0;

  .card-block {
    padding: 0.5rem;
  }
}

.progress-maxheight {
  height: 100%;

  .progress-bar {
    height: 100%;
  }
}

.nav-link {
  &.btn-primary {
    color: white !important;

    &.active {
      color: black !important;
      background: transparent !important;
      border: 1px solid $brand-primary;
    }
  }
}

.btn-very-sm {
  padding: 0 0.75rem;
  line-height: 1;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  .btn-group {
    margin-bottom: 0;
  }
}

.card {
  .card {
    border-left: none;
    border-right: none;
  }

  .form-group {
    margin-bottom: 0.25rem;
  }
}

select.form-control {
  height: 1.5rem !important;
  padding: 0;
  font-size: 0.9rem;
}

fieldset .form-check-input:only-child {
  position: absolute;
}

.form-check-inline {
  margin-bottom: 0;
}
